<h1>Sign in</h1>

<p><%= link_to "Sign up", new_person_path %></p>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= form_tag session_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, '' %>
  <%= label_tag :password %>
  <%= password_field_tag :password, '' %>
  <%= submit_tag 'Sign in'  %>
<% end %>
