<!DOCTYPE html>
<html manifest="<%= cache_path(format: 'manifest') if offline_enabled? %>">
  <head>
    <title>Scabbard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render_header %>
    <%= yield %>
  </body>
</html>
